@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --mainDark: #364954;
  --mainLight: #e6f4f1;
  --accentDark: #003358;
  --accentLight: #50b5e3;
  --green: #2c8478;
  --ITA: #f9f871;
  --USA: #aff68c;
  --ESP: #66ecb1;
  --FRA: #00ded2;
  --GER: #00cbe4;
  --COL: #00cbe4;
  --DEN: #a1356d;
  --RUS: #9c5296;
  --SUI: #8b6eb8;
  --POR: #7488d0;
}

html {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  background: var(--mainLight);
}

.containter {
  background: var(--green);
}

svg {
  background: white;
}
